body {
    color: #fff;
    height: 100%;
}

/* Navbar styling*/
ul {
    list-style-type: none;
    display: flex;
    padding: 5px;
}
a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 15px;

}

.divide {
    flex: 1;
}
.r-btn {
    color: white;
}

/*Navbar button */
.nav-btn {

    border: 1px solid #4285f4;
    font: inherit;
    color: white;
    background-color: #4285f4;
    cursor: pointer;

}

/* Search */
.center-container{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.google-logo {
    margin: 10px;
}

.search-btn-container {
    display: flex;
    flex-direction: row;

}

.search-btn {
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    color: #757575;
    background: #f2f2f2;
    cursor: default;
    margin: 15px;
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}
.search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/*Footer */

.footer {
    display: flex;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    height: 65px;
}

a {
    color:#5f6368;
}