/* Navbar styling*/
ul {
    list-style-type: none;
    display: flex;
    padding: 5px;
}
a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-size: 16px;

}

.divide {
    flex: 1;
}
.right-navbar {
}

/*Navbar button */
.nav-btn {

    border: 1px solid #4285f4;
    font: inherit;
    color: inherit;
    background-color: #4285f4;
    cursor: pointer;

}